<!-- Example row of columns -->
      <div class="row">
      	<% @petitions.each do |p| %>
        <div class="col-md-4">
          <h2><%= p.title %></h2>
          <p><%= p.statement %></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

       <% end %>
