<form
  id="search_form"
  ng-controller="SearchController"
  class="form form-horizontal">
  
	<div class="form-group">
  	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10">
  		<input
  		  id="query"
  		  ng-model="model.query"
  		  class="form-control" 
  		  type="text"
  		  placeholder="Search for a petition..." />
  	</div>
  	
  	<button
  	 ng-click="handlers.search()"
  	 class="btn btn-primary col-lg-2 col-md-2 col-sm-2 col-xs-2">
     Search
    </button>
	</div>
	

  <div ng-repeat="result in model.results" class="panel panel-default search-result" ng-click="goToResults($event)">
    <div class="panel-heading">
        <a id="result_{{id}}" class="panel-title" href="{{ result.url }}">{{ result.title }}</a>
    </div>
    <div class="panel-body">
        <div ng-bind-html="result.statement | characters:100"></div>
    </div>
  </div>

</form>
