<div class="row">
  <!-- Actions -->
  <div class="col-md-4 col-sm-6">
    <ul class="list-unstyled">
      <li>TODO Manage Politicians</li>
      <li>TODO Manage Residents</li>
      <li>TODO Configure System Values</li>
    </ul>
  </div>
  
  <!-- Summary -->
  <div class="col-md-8 col-sm-6">
    TODO
  </div>
</div>
