<div class="jumbotron">
  <div class="container">
    <h1><%= @constants.site_title %></h1>
    <p><%= @constants.site_description %></p>
    <p>
      <% unless current_user && current_user.is_politician? %>
        <%= link_to "Create Petition", new_petition_path, :class => "btn btn-primary btn-lg" %>
        or 
      <% end %>
      
    	<%= link_to "Find a Petition", "/search", :class => "btn btn-success btn-lg" %>
  	</p>
  </div>
</div>