<!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><%= @petitions.title %></h2>
          <p><%= @petitions.statement %> Signed by: <%= @petitions.signatures.first.resident.name %></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Petition 2</h2>
          <p>Petition statement</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Petition 3</h2>
          <p>Petition statement</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>