<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <strong>Approved</strong>
    
      <% @approved.each do |petition| %>
        <div class="row">
          <div class="col-md-4 col-sm-6">
          <%= link_to petition.title, petition_path(petition) %>
          </div>
          <div class="col-md-3 col-sm-1">
          <% if @politician %>
            <% if @politician.addressed? petition %>
              <%= link_to "Edit", edit_response_path(@politician.response_for(petition)), :class => "btn btn-default btn-xs" %>
            <% else %>
              <%= link_to "Respond", new_petition_response_path(petition), :class => "btn btn-success btn-xs" %>
            <% end %>          
          <% end %>
          </div>
        </div>
      <% end %>
    
  </div>
</div>
